.service-card{
    margin: 3rem auto;
    width: 90%;
    height: fit-content;
    max-width: 105rem;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
}
.service-img{
    width: 90%;
    min-width: 25rem;
    max-width: 50rem;
    height: 26rem;
    object-fit: cover;
    border-radius: 2rem;
}
.right-side-service{
    width: 90%;
    max-width: 55rem;
    height: 26rem;
    padding: 2rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}

@media (min-width: 769px){
    .service-card{
        flex-wrap: nowrap;
    }
}

