.footer {
    background-color: var(--blue);
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
}


.footer-rights-div,
.footer-link-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    text-align: center;
}

#footer-logo {
    width: 15rem;
}

.footer-span{
    color: var(--grey);
}

.footer-link {
    background: none;
    color: var(--grey);
    border: none;
}
.footer-link:hover{
    
}

/* MEDIA QUERIES */

@media (min-width: 576px) {
    .footer {
        flex-direction: row;
    }

    .footer-rights-div{
        gap:0;
    }
    .footer-link-div{
        height: 11rem;
        justify-content: space-around;
    }

    #footer-logo {
        width: 20rem;
    }

}

@media (min-width: 750px){
    .footer{
        padding: 1.5rem 3rem;
        align-items: flex-end;
        justify-content: space-between;
    }
    .footer-link-div{
        flex-direction: row;
        align-items: flex-end;
        gap: 3rem;
    }

}