@import url('https://fonts.googleapis.com/css2?family=Anek+Latin:wght@100..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* 
NAF: font-family: "Anek Latin", serif;
Rest: font-family: "Montserrat", serif;
  */

/* VARIABLES */
:root {
    --primary: #C9A279;
    --accent: #1E8EB6;
    --background: #F1EEEF;
    --fonts: #1A344D;
    --black: #000000;
    --white: #ffffff;
    --disabled-prim: #d1ccc7;
    --disabled-accent: #a0b2b8;
}

/* GENERAL SETTINGS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", serif;
    font-size: 10px;
    color: var(--fonts);
}



h1 {
    font-size: 3.7rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2rem;
}

p,
a,
li,
span,
strong,
button,
small,
label {
    font-size: 1.8rem;
}

a {
    text-decoration: none;
}

a:hover,
button:hover {
    cursor: pointer;
}

button {
    border: none;
    padding: 2rem 4rem;
    text-align: center;
}

button:hover {
    font-weight: 600;
    box-shadow: 0 0.5em 0.5em -0.4em var(--fonts);
    transform: translateY(-0.25em);
    transition: 500ms;
}

/* ALL PAGES' SECTIONS WILL COVER THE SCREEN */
#root{
    position: relative;
}
.section {
    min-height: 100vh;
}

/* mediaqueries:
mobile till 576, (@media (min-width: 576px)
tablets till 750, 
desktop from 1024
*/